{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"]
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        }
      }
    ]
  }
}
